<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-signin">
    <input [(ngModel)]="email" name="email" type="email" id="inputEmail" class="form-control"
      placeholder="Email address" required autofocus="" #signInEmail="ngModel">
    <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control"
      placeholder="Password" required #signInPassword="ngModel">

    <button [disabled]="!f.valid" class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>
      Sign in</button>
  </form>
  <hr />
  <div>
    <p>Doesn't have an account? <span class="btn btn-primary btn-block" routerLink="/signup">Sign Up</span>
    </p>
  </div>
</div>
